doctype html
html
  head
    meta(charset='utf-8')      
    title Tic-Tac-Toe
    script(type='text/javascript', src='http://mbostock.github.com/d3/d3.js')
  body
    #viz
    script(src=isProd ? '/index.min.js' : '/index.js')
