doctype html
html
  head
    meta(charset='utf-8')      
    title D3 snippets
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    script(type='text/javascript', src='http://mbostock.github.com/d3/d3.js')
  body
    h4 An SVG circle with hover effect:
    #simpleCircle
    h4 An SVG circle with hover effect and animation:
    #aniCircle
    h4 Animation Chaining (click on circle):
    #chain
    h4 Better Animation Chaining (click on circle):
    #chain2
    h4 Multiple Animated Circles:
    #chain3
    h4 Multiple Circles, non animated:
    svg(width='720', height='120')
      circle(cx='40', cy='60', r='10', class='demoCircles')
      circle(cx='80', cy='60', r='10', class='demoCircles')
      circle(cx='120', cy='60', r='10', class='demoCircles')
      
    script(src=isProd ? '/index.min.js' : '/index.js')
